考勤分析：

弄一个界面出来，
可以输入：
哪个人姓名
请假天数，
具体的请假日期
选择请假类别：
a.事假
b.年休
c.婚假
d.丧假
e.病假
f.出差
g.其他

统计的时候可以根据考勤内容导出一个excel出来。
导出excel内容为：
姓名，迟到，事假，年休，其他，备注

哪个人，
迟到了好多次，迟到好多次里面有备注，备注那几天迟到了，哪天迟到好多分钟数。
事假，事假好多次，具体的日期
年休天数，具体请假的日期
其他，具体的天数，具体的日期


每个人的年休只有5天，没有满一年没有年休，满10年是10天年休。
-------------------------------------------------------------

销售统计：

第一步：记录开票内容
开票的日期，单位名称，开票内容（产品名称），数量，销售金额（开票金额），
实际金额（在开票的基础上扣除成本后的金额，记录一下具体扣除金额的原因内容）。
经办人（喊开票的那个人，提成算哪个的），是否一个人独享提成。销售提成类别
（维护费5%，老产品10%，新产品5%，平台5%，技术支持5%），开票单位，还要记录
成本开销（比如说：邮费，快递费，车费。）。单位地址，单位联系人，联系电话，快递单号。
到账状态，到账日期，到账单位。是否已经提款（就是分钱给公司的相关人员）
现在一个产品只能包含一张票。 

第二步：实现的功能：
可以根据经办人，单位名称进行搜索。根据到账状态进行搜索。
将经办人没有到账的导出一个excel表发给别人。（excel表里面只能告诉
日期，单位名称，产品，数量，销售金额，经办人，开票单位，单位联系方式）

统一开票：
一个地区一个地区的开票，一个地区可能开几十几百张票。
而这些票可能一部分收现金，一部分收汇款，而且这些票。
解决的问题，有些单位有人来查询自己已经汇了款，但是还没有
收到发票，需要查询。







